<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>

    <div class="container">
     

      <form action = "/create_movie " method ="post" >

        <div class="form-group">
          <label for="exampleInputEmail1"> Movie ID</label>
          <input type="text" name = "movie_id" class="form-control" id="movie_id" aria-describedby="emailHelp" placeholder="Enter Movie ID">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

         <div class="form-group">
          <label for="exampleInputEmail1"> Movie Name</label>
          <input type="text" name ="movie_name " class="form-control" id="Movie_name" aria-describedby="emailHelp" placeholder="Enter Movie Name">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
         </div>

         <div class="form-group">
          <label for="exampleInputEmail1"> Certification</label>
          <input type="text" name= "certifications" class="form-control" id="certification" aria-describedby="emailHelp" placeholder=" ">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

         <div class="form-group">
          <label for="exampleInputEmail1"> Duration</label>
          <input type="int" name="duration" class="form-control" id="duration" aria-describedby="emailHelp" placeholder="Enter Duration">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

         <div class="form-group">
          <label for="exampleInputEmail1"> Release Date</label>
          <input type="date"  name ="release_date " class="form-control" id="Release_date" aria-describedby="emailHelp" placeholder="Enter Date">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

         <div class="form-group">
          <label for="exampleInputEmail1"> Rating</label>
          <input type="number"  name="rating" class="form-control" id="rating" aria-describedby="emailHelp" placeholder="Rating">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

         <div class="form-group">
          <label for="exampleInputEmail1"> Language</label>
          <input type="text" name="language" class="form-control" id="language" aria-describedby="emailHelp" placeholder="Language">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

         <div class="form-group">
          <label for="exampleInputEmail1"> Trailer</label>
          <input type="url" name ="trailer" class="form-control" id="trailer" aria-describedby="emailHelp" placeholder="Enter trailer urls">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

         <button type="submit" class="btn btn-default">Submit</button>


        


  	  </form>



    </div>



  </body>
</html>
